<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
    </div>
    <div class="panel-body">
    <%= simple_form_for @user,url: {action: create}, remote: true do |f| %>
      <%= f.input :first_name, label: 'First Name' %>
      <%= f.input :last_name, label: 'Last Name' %>
      <%= f.input :email, label: 'E-mail' %>
      <%= f.input :password, label: 'Password' %>
      <%= f.input :password_confirmation, label: 'Re-type Password' %>
      <%= f.input :organization, label: 'Organization' %>
      <%= f.input :country, label: 'Country' %>
      <%= f.button :submit %>
    <% end %>
    </div>
</div>

